
    .outer{
      
      
      border: 2px solid lightgray;
      
      }
    .outer>div{
      width: 200px;
      height: 200px;
      background-color: gray;
      display: inline-block;
      margin-left: 10px;
      margin-top: 7px;
      /*★display: inline-block; 블록형태로!!!핵심!!!★  */
    }
    div.yellow{
      background-color: orange;

    }
    .yellow> .red{
      width: 60px;
      height: 70px;
      background-color: red;
    }
    /* 이해는된다만 혼자할수있을까 40-50정도는가능*/