html{
  font-size: 15px;
}
div{
  font-size: 1.3em;
}
div div{
  font-size: calc(9px + 10px);
}
/*
div태그를  기준으로 1.4달아놧으면
부모요소의 영향을 받는 단위라고 햇다. 가장 상위의 div의경우 부모요소가 없기 때문에 기존 html태그선택자의 폰트 크기인 15px가 그대로 적용

*/
div div div{
  font-size: 5rem;
}

/*
(div를 하나만 쓰면 안쪽의div에서 3개다 두개쓰면 최상위것은 뺴고 나머지두개만
세개쓰면 제일안쪽의것(안안쪽)만 움직인다.)
이상의 코드를 확인했을때 div요소의 자손요소인 div들은 html문서의 폰트 사이즈인
(부모(div)가 몇 px인지 전혀 신경 쓰지 않습니다. 오직 **Root(html)**만 바라봅니다.)
15px의 140%의 2배가 일괄 적용되었다.
rem단위는 가장 상위 부모요소를 기준으로하는데 여기선 조건이 더 구체적인 div div가 적용되었다.
*/
